<file>
    <div class="flex justify-center">
    <div class="mb-3 w-96">
      <label for="formFileMultiple" class="form-label inline-block mb-2 text-gray-700">Select files/refresh to clear</label>
      <input id="input" type="file" oninput="{input}" class="form-control
      block
      w-full
      px-3
      py-1.5
      text-base
      font-normal
      text-gray-700
      bg-white bg-clip-padding
      border border-solid border-gray-300
      rounded
      transition
      ease-in-out
      m-0
      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="file" id="formFileMultiple" multiple>
    </div>
  </div>
    <script>
      export default {
        input() {
          let files = this.$('#input').files; 
          for (let file of files) {
            this.props.update(file);
          }
        },
        onMounted() {
          window.addEventListener('paste', e => {
            this.$('input').files = e.clipboardData.files;
            this.input();
          });
        }
        
      }
    </script> 
  </file>
  